<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css">
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/pintuer.js"></script>
</head>
<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="{:URL('partner/add')}" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
        <form method="post" action="index" id="">
            <ul class="search">
                <li>搜索：</li>
                <li>注册时间:
                    <input type="date" class="input" name="new_time" value="{$Think.Session.pa_new}" style="width:150px; line-height:17px;display:inline-block">
                    ~~
                    <input type="date" class="input" name="die_time" value="{$Think.Session.pa_die}"  style="width:150px; line-height:17px;display:inline-block">
                </li>
                <li>状态：</li>
                <li>
                    <select name="state" class="input">
                        <option value="">请选择</option>
                        <option value="1" {if ($Think.Session.pa_state==1)}selected{/if}>正常</option>
                        <option value="2" {if ($Think.Session.pa_state==2)}selected{/if}>冻结</option>
                    </select>
                </li>
                <li>
                    <input type="text" placeholder="请输入搜索账户关键字" name="sname" value="{$Think.Session.pa_sname}" class="input" style="width:250px; line-height:17px;display:inline-block" />
                    <input type="submit" name="sub" class="button border-main icon-search" value="搜索">
                    <a href="{:URL('partner/diesession')}" class="button border-main icon-search">清空</a>
                    <!--<a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>-->
            </ul>
        </form>
    </div>
    <form method="post" action="dele" id="listform">
        <table class="table table-hover text-center">
            <tr>
                <th width="120">ID</th>
                <th>合伙人账户</th>
                <th>真实姓名||公司名称</th>
                <th>手机号</th>
                <th>状态</th>
                <th>注册时间</th>
                <th>详情</th>
            </tr>
            {volist name='model' id="rs"}
            <tr>
                <td><input type="checkbox" name="id[]" value="{$rs.pa_id}" />
                    {$key+1}</td>
                <td>{$rs.pa_user}</td>
                <td>{$rs.pa_name}</td>
                <td>{$rs.pa_phone}</td>
                <td>{if ($rs.pa_state==1)}正常{else}冻结{/if}</td>
                <td>{$rs.pa_addtime|date="Y-m-d H:i:s",###}</td>
                <td><div class="button-group">  <a class="button border-blue" href="{:url('partner/update')}?pa_id={$rs.pa_id}">修改状态</a><a class="button border-red" href="{:url('partner/index')}?id={$rs.pa_id}" onclick="return del(1)"> 冻结</a></div></td>
            </tr>
            {/volist}
            <tr>
                <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>
                    全选 </td>
                <td colspan="6" style="text-align:left;padding-left:20px;"><a href="javascript:void(0)" class="button border-red " style="padding:5px 15px;" onclick="DelSelect()">冻结</a>
            </tr>
            <tr>
                <td colspan="8"><div class="pagelist">{$page}</div></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">

    //单个删除
    function del(id,mid,iscid){
        if(confirm("您确定要冻结吗?")){
            return true;
        }else{
            return false;
        }
    }

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要冻结选中的内容吗？");
            if (t==false){return false;}
            $("#listform").submit();
        }
        else{
            alert("请选择您要冻结的内容!");
            return false;
        }
    }

</script>
</body>
</html>