<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css">
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/pintuer.js"></script>
</head>
<body>
<form method="post" action="index" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="{:URL('user/add')}" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-main icon-plus-square-o" href="{:URL('user/add')}"> 添加内容</a> </li>
                <li>搜索：</li>
                <li>开始时间
                    <input type="date" class="input" name="new_time" value="{$Think.Session.new}" style="width:150px; line-height:17px;display:inline-block">
                    结束时间
                    <input type="date" class="input" name="die_time" value="{$Think.Session.die}"  style="width:150px; line-height:17px;display:inline-block">
                </li>
                <li>
                    <input type="text" placeholder="请输入搜索关键字" name="sname" value="{$Think.Session.sname}" class="input" style="width:250px; line-height:17px;display:inline-block" />
                    <input type="submit" name="sub" class="button border-main icon-search" value="搜索">
                    <a href="{:URL('user/diesession')}" class="button border-main icon-search">清空</a>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="20%" >ID</th>
                <th width="20%">账户</th>
                <th width="20%">权限</th>
                <th width="20%">添加时间</th>
                <th width="20%">操作</th>
            </tr>
            {volist name='model' id='model'}
            <tr>
                <td width="20%">{$key+1}</td>
                <td>{$model.ad_user}</td>
                <td><font color="#00CC99">管理员</font></td>
                <td>{$model.ad_addtime|date="Y-m-d h:i:s",###}</td>
                <td><div class="button-group">  <a class="button border-blue" style="height: 20px;line-height:22%;" href="{:url('user/xiu')}?ad_id={$model.ad_id}">详情</a></div></td>
            </tr>
            {/volist}
            <tr>
                <td colspan="5"><div class="pagelist">{$page}</div></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>